.pace-done
    .logo-element
        background-color #2f4050

.wrapper_header_categories
    margin-bottom 40px
    span
        font-weight bold
        font-size 13px
        color #666a6b

.brd-top
    border-top 1px solid #e7eaec
    position relative
.main_cat
    padding-top 20px
    a
        color #000
.m-10
    margin 10px 0
.mr-10
    margin-right 10px
.sortable-arrows
    color #fff
    border-color #269abc
    padding: 4px 10px;
    cursor move
    cursor -webkit-grabbing
    background #ccc
    font-size: 16px
    position absolute
    right 140px
    top 10px
    z-index 1
    i
        transform: rotate(90deg);
.r260{
    right 260px
}
.mr78{
    margin-right: 78px
}
.jfilestyle label
    display inline-block
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    padding 10px 20px 10px 36px
    position: relative
    transition 0.4s ease
    margin:0
    cursor: pointer
    +below(992px)
        margin-left 0
    &:hover
        color #fff
        background-color #31b0d5
        border-color #269abc
    &:before
        position absolute
        width 15px
        height 18px
        top 12px
        left 8px
        padding-right 10px
        font-family: FontAwesome;
        color #fff
        content "\f093"
.wrap_image_uploaded
    width 38px
    height 38px
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle;
    line-height: 38px;
    img
        width 100%
