{% extends "layout.html" %}

{% block content %}
<!-- CONTENT -->
<div class="container fullwidth no-padding">

	<!-- IMAGE BACKGROUND -->
	<div class="col-md-6 col-sm-5 fullscreen-height fixed hidden-xs" data-background="{{ static_url('img/gallery/3.jpg') }}"></div>

	<!-- DETAILS -->
	<div class="col-md-6 col-sm-7 col-md-offset-6 col-sm-offset-5 fullscreen-height">
		<div class="vcenter-outer p70 pt130">

			<div class="vcenter-inner">
				<h5 class="title-tooltip">{{ _('Hello.') }}</h5>
				<h3 class="title mt0">{{ _("I'm Xenia Morgun") }}</h3>
				<p class="separator-left mb20"></p>
				<p>Native de Moldavie, ma passion pour les Arts graphiques m’a emmené à traverser les frontières, d’abord pour la France (école européenne supérieure d’image d’Angouleme) puis pour la Belgique (école supérieure d’art saint luc) où je suis installée depuis 2015.</p>
				<p>J’ai la passion du dessin et de la peinture depuis toujours. Toute petite j’étais en  admiration devant les illustrations des livres pour enfants. Ne pouvant pas encore lire, l'image devenait mon guide pour découvrir le monde. J’étais impressionnée par la force que possède le dessin de transmettre les choses. Pour moi cela relevait de la magie, et j’ai gardé cette sensation jusqu’à présent. Je réalise des caricatures depuis que j'ai commencé mes études d’Art et de Design à l’Université de Cluj Napoca, en 2012. J'aime observer les traits de visages, les émotions et leurs expressions. A mes yeux, la caricature relève de l’exagération de ces éléments. La caricature que je propose donne une version du personnage que j’ai face à moi, une idée à la fois originale, humoristique et bienveillante de celui ou celle qui se prête au jeu de la transformation.</p>
				<a href="{{ reverse_url('contact', lang) }}" class="button mt10">{{ _('contact me') }}</a>
			</div>

		</div>
	</div>
	<!-- /DETAILS -->

</div>
<!-- /CONTENT -->
{% end %}