{% extends "layout.html" %}

{% block content %}
<!-- BLOG POSTS -->
<div class="pt20 mt20 mb20">
{% for blog_item in blog_list %}
<div class="container pt140 pb90" data-background="{{ image('1170x775', blog_item['image_filename']) }}">
	<div class="pt140 pb90">

		<a href="{{ reverse_url('blog.item', lang, blog_item['slug']) }}" class="entrance">
			<h3 class="title mb10">{{ blog_item['name'][lang] }}</h3>
			<p class="separator"></p>
			<p>{{ blog_item['short_desc'][lang] }}</p>
			<p class="small capitalize serif">{{ format_date(blog_item['posted_at'], 'D MMMM YYYY') }}</p>
		</a>

	</div>
</div>
{% end %}
</div>
<!-- /BLOG POSTS -->
{% end %}