{% extends "layout.html" %}

{% block content %}
<!-- Breadcrumb Area -->
<div class="breadcrumb-area bg-image-4" data-black-overlay="6">
	<div class="container">
		<div class="cr-breadcrumb">
			<h3>{{ _('ART DETAILS') }}</h3>
			<ul>
				<li><a href="/">Home</a></li>
				<li>{{ _('Art Details') }}</li>
			</ul>
		</div>
	</div>
</div>
<!--// Breadcrumb Area -->

<main class="page-content">

	<!-- Portfolio Details Area -->
	<div class="cr-section photo-details-area section-padding-lg bg-white">
		<div class="container">
			<div class="portfolio-details-images">
				<img src="{{ image('1170x775', content_item['image_filename']) }}" alt="Portfolio Details Image">
			</div>
			<div class="row section-padding-top-sm">
				<div class="col-lg-4">
					<div class="portfolio-details-meta">
						<ul>
							<li><i class="fa fa-user"></i><span>{{ _('Created by') }}:</span> Xenia Morgun</li>
							<li><i class="fa fa-calendar"></i><span>{{ _('Completed on') }}:</span> {{ content_item['posted_at'].strftime('%d.%m.%Y') }}</li>
							<li><i class="fa fa-coffee"></i><span>{{ _('Skills') }}:</span> TOTO</li>
							<li><i class="fa fa-link"></i><span>{{ _('Client') }}:</span> <a href="#">TOTO</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="portfolio-details-info">
						<h3 class="small-title-fullwidth"><span>{{ _('ART INFO') }}</span></h3>
						<h5 class="portfolio-title">{{ _('NAME') }}: {{ content_item['name'][lang] }}</h5>
						<div>
							{{ content_item['body'][lang] }}
						</div>
						<div class="post-share">
							<h6>{{ _('Share') }}:</h6>
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								<li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--// Portfolio Details Area -->

</main>

{% end %}