{% extends "layout.html" %}

{% block content %}
<!-- CONTENT -->
<div class="container fullwidth no-padding">

	<!-- IMAGE BACKGROUND -->
	<div class="col-md-6 col-sm-5 fullscreen-height fixed hidden-xs" data-background="{{ static_url('img/gallery/2.jpg') }}"></div>

	<!-- DETAILS -->
	<div class="col-md-6 col-sm-7 col-md-offset-6 col-sm-offset-5 fullscreen-height">
		<div class="vcenter-outer p70 pt130">

			<div class="vcenter-inner">
				<h5 class="title-tooltip">{{ _('Say Hello.') }}</h5>
				<h3 class="title mt0">{{ _("Let's Get In Touch") }}</h3>
				<p class="separator-left mb20"></p>
				<div class="contact-info">
					<a href="mailto:info@becaricature.com" class="no-redirect">
						<b>{{ _('Mail:') }}</b> info@becaricature.com
					</a>
					<a href="tel:+123567789" class="no-redirect">
						<b>{{ _('Phone:') }}</b> +32 498 37 92 95
					</a>
				</div>

					<div class="col-md-6">

						<div class="contact-message">{{ _('Thanks you for your message!') }}</div>

						<form id="contact">
							<input name="name" id="name" type="text" placeholder="{{ _('Name') }}" required>
							<input name="contact" id="contact2" type="text" placeholder="{{ _('Email or Phone') }}">
							<textarea name="message" id="message" placeholder="{{ _('Message') }}" required rows="4"></textarea>
							<input type="submit" id="submit" value="{{ _('send') }}" class="button outline">
						</form>

					</div>

			</div>

		</div>

	</div>
	<!-- /DETAILS -->

</div>
<!-- /CONTENT -->
{% end %}


{% block footer %}
{% import settings %}
<script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
<script>
$(function() {

    $("#contact").submit(function (e){

        e.preventDefault();


        $.ajax({
            url: '{{ reverse_url('ajax') }}',
            data: { name: $('#name').val(), contact: $('#contact2').val(), message: $('#message').val(), action: 'send_message' },
            type: 'POST',
			success: function (response) {
				// response from contact.php
				$('.contact-message').html('<p>{{ _('Your Message Has Been Sent! Thanks you.') }}</p>').slideDown(500);
				$('form#contact input:not(#submit), form#contact textarea').val('');
			},
			error: function () {
				// error message
				$('.contact-message').html('<p class="error">{{ _('Something went wrong, try again!') }}</p>').slideDown('slow');
			}
        });


    });

});
</script>
{% end %}