{% extends "layout.html" %}

{% block header %}
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5e26fa07d13ba60012707289&product=image-share-buttons&cms=sop' async='async'></script>
{% end %}

{% block content %}
<div class="container pt20 mt20 mb20 text-center equal-height-cols">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3 class="title mb0">{{ gallery_post['name'][lang] }}</h3>
			<p class="separator mt20 mb20"></p>
			<p>{% raw gallery_post['body'][lang] %}</p>

			<!-- YOUTUBE VIDEO -->
			<div class="video-container mt70">
				<img src="{{ image('1170x775', gallery_post['image_filename']) }}">
			</div>
		</div>
	</div>
</div>
{% end %}