{% extends "layout.html" %}

{% block content %}
<!-- BLOG POSTS -->
<div class="container">
	<div class="grid albums pt20 mt20 mb20" data-gutter="5" data-columns="3">
	{% for gallery_post in gallery_posts %}
		<div class="grid-item ">
			<div data-background="{{ image('1170x775', gallery_post['image_filename']) }}">
				<!-- lightbox expand link -->
				<a href="{{ image('1170x775', gallery_post['image_filename']) }}" class="expand" data-rel="lightcase:gal" title="{{ gallery_post['name'][lang] }}">
					<i class="fa fa-expand"></i>
				</a>
				<!-- title -->
				<div class="title">
					<a href="{{ reverse_url('gallery.post', lang, gallery_post['slug']) }}" class="link">{{ gallery_post['name'][lang] }}</a>
				</div>
			</div>
		</div>
	{% end %}
</div>
</div>
<!-- /BLOG POSTS -->
{% end %}