{% extends "layout.html" %}

{% block content %}
<!-- Breadcrumb Area -->
<div class="breadcrumb-area bg-image-4" data-black-overlay="6">
	<div class="container">
		<div class="cr-breadcrumb">
			<h3>{{ _('ART GALLERY') }}</h3>
			<ul>
				<li><a href="/">Home</a></li>
				<li>{{ _('Photo Gallery') }}</li>
			</ul>
		</div>
	</div>
</div>
<!--// Breadcrumb Area -->

<main class="page-content">

	<div class="container">
		<div class="videoWrapper">
			<iframe  width="560" height="349" src="https://www.youtube.com/embed/caoQAHNKfA8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>

	<!-- Portfolios Ara -->
	<div class="cr-section portfolios-area section-padding-lg bg-white">
		<div class="container">

			<div class="portfolio-filters text-center">
				<button data-filter="*" class="is-checked">{{ _('ALL') }}</button>
				{% for category in categories %}
				<button data-filter=".portfolio-filter-{{ category['_id'] }}">{{ category['name'][lang] }}</button>
				{% end %}
			</div>

			<div class="row portfolios-wrapper portfolios-zoom-button-holder">

				{% for content_item in content_list %}
				<div class="col-lg-4 col-md-6 col-12 portfolio-item portfolio-filter-{{ content_item['category_id'] }}">
					<div class="portfolio">
						<div class="portfolio-image">
							<img src="{{ image('preview', content_item['image_filename']) }}" alt="{{ content_item['name'][lang] }}">
						</div>
						<div class="portfolio-content">
							<a href="{{ image('origin', content_item['image_filename']) }}" class="portfolio-zoom-button"><i class="fa fa-search-plus"></i></a>
							<h5><a href="{{ reverse_url('content.details', lang, content_item['slug']) }}">{{ content_item['name'][lang] }}</a></h5>
						</div>
					</div>
				</div>

				{% end %}

			</div>

			<div class="row">
				<div class="col-12 text-center mt-5">
					<a href="photo-gallery.html" class="button" data-content="{{ _('View More') }}">
						<span>{{ _('View More') }}</span>
					</a>
				</div>
			</div>

		</div>
	</div>
	<!--// Portfolios Ara -->

</main>
{% end %}