{% extends "layout.html" %}

{% block content %}

<section id="page-content" class="page-content">
    <div class="content">
        <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="vc_row wpb_row vc_inner vc_row-fluid container pt10 pb10 mt20">
                            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-offset-2 vc_col-md-8">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element intro text-center">
                                            <div class="wpb_wrapper">
                                                <p class="intro text-center">{% raw main_page_content['body'][lang] %}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="vc_row wpb_row vc_inner vc_row-fluid container">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class=" container ">
                                            <div class="grid portfolio" data-gutter="5" data-columns="3">
												{% for gallery_post in gallery_posts %}
                                                <div class="grid-item "><a href="{{ reverse_url('gallery.post', lang, gallery_post['slug']) }}">
                                                    <div class="img" data-background="{{ image('1170x775', gallery_post['image_filename']) }}"></div>
                                                    <div class="hover">
                                                        <div class="centered"><h5>{{ gallery_post['name'][lang] }}</h5></div>
                                                    </div>
                                                </a></div>
												{% end %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% end %}