<!doctype html>
<html class="no-js" lang="zxx">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Photoghor- Photography Portfolio Bootstrap 4 Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Favicon -->
	<link rel="shortcut icon" href="{{ static_url('img/favicon.ico') }}" type="image/x-icon">
	<link rel="apple-touch-icon" href="{{ static_url('img/icon.png') }}">

	<!-- Google font (font-family: 'IBM Plex Sans', sans-serif;) -->
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600,700" rel="stylesheet">

	<!-- Plugins -->
	<link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ static_url('css/plugins.css') }}">

	<!-- Style Css -->
	<link rel="stylesheet" href="{{ static_url('style.css') }}">

	<!-- Custom Styles -->
	<link rel="stylesheet" href="{{ static_url('css/custom.css') }}">
</head>
<body>
	<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

	<!-- Add your site or application content here -->

	<!-- Wrapper -->
	<div id="wrapper" class="wrapper">

		<!-- Header -->
		<header class="header sticky-header bg-dark">
			<div class="container">
				<div class="header-inner d-none d-lg-flex">
					<div class="header-logo">
						<a href="/">
							<img src="{{ static_url('img/logo/logo-light.png') }}" alt="logo">
						</a>
					</div>
					<div class="header-navigation">
						<button class="header-navigation-trigger">
							<span></span>
							<span></span>
							<span></span>
						</button>
						<nav class="main-navigation">
							<ul>
								<li><a href="/">HOME</a>
									<!--<ul>
										<li><a href="index.html">Home Default Version</a></li>
										<li><a href="index-dark.html">Home Dark Version</a></li>
									</ul>-->
								</li>
								<li><a href="photo-gallery.html">{{ _('Blog') }}</a></li>
								<li><a href="{{ reverse_url('about', lang) }}">{{ _('About') }}</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="mobile-menu-wrapper d-block d-lg-none">
					<div class="mobile-menu clearfix">
						<a href="/" class="mobile-logo">
							<img src="{{ static_url('img/logo/logo-dark.png') }}" alt="mobile logo">
						</a>
					</div>
				</div>
			</div>
		</header>
		<!--// Header -->




        {% block content %}{% end %}


        <!-- Footer Area -->
        <footer id="footer-area" class="footer-area section-padding-xs bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="footer-social-links">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">{{ _('Blog') }}</a></li>
                            <li><a href="{{ reverse_url('about', lang) }}">{{ _('About') }}</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer-copyright">
                            <p>Copyright &copy; <a href="#">BeCaricature.com</a> 2019. {{ _('All Right Reserved') }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--// Footer Area -->

	</div>
	<!--// Wrapper -->

	<!-- Js Files -->
	<script src="{{ static_url('js/vendor/modernizr-3.6.0.min.js') }}"></script>
	<script src="{{ static_url('js/vendor/jquery-3.3.1.min.js') }}"></script>
	<script src="{{ static_url('js/popper.min.js') }}"></script>
	<script src="{{ static_url('js/bootstrap.min.js') }}"></script>
	<script src="{{ static_url('js/plugins.js') }}"></script>
	<script src="{{ static_url('js/main.js') }}"></script>
</body>
</html>