<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106461956-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-106461956-2');
</script>
    <meta charset="utf-8">
    <title>BeCaricature.com - {{ seo['page_title'] if seo['page_title'] else _('Caricature in Belgium & Benelux') }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ static_url('img/favicon.png') }}">
    <!-- plugins' css -->
    <link rel="stylesheet" href="{{ static_url('css/plugins.css') }}">
    <!-- google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300%7cPoppins:400,300,500,700,600'
          rel='stylesheet' type='text/css'>
    <!-- main css file -->
    <link rel="stylesheet" href="{{ static_url('css/main.css') }}">
    <!-- modernizr -->
    <script src="{{ static_url('js/lib/modernizr-2.6.2.min.js') }}"></script>
    {% block header %}{% end %}
</head>

<body>
<!-- MAIN_WRAPPER -->
<!--		<div class="main-wrapper animsition">-->
<div class="main-wrapper">

    <!-- HEADER -->
<!--    <header id="header" class="fixed">-->
    <header id="header">
        <!-- LOGO -->
        <a href="/" class="logo">
            <h3>BeCaricature.com</h3>
            <!--					<img src="{{ static_url('img/logo.png') }}" class="logo-dark" alt="">-->
            <!--					<img src="{{ static_url('img/logo-light.png') }}" class="logo-light" alt="">-->
        </a>
        <!-- MOBILE MENU ICON -->
        <a href="#" class="mob-menu"><i class="fa fa-bars"></i></a>
        <!-- MENU -->
        <nav style="display:flex;justify-content: center;">
            <div class="wrap-main-menu">
                <ul class="main-menu">
                    <li>
                        <a href="{{ reverse_url('home', lang) }}">{{ _('Home') }}</a>
                    </li>
                    <li>
                        <a href="{{ reverse_url('service.list', lang) }}">{{ _('Services') }}</a>
                        <ul>
                            {% for menu_service_item in root_service_list %}
                            <li><a href="{{ reverse_url('service.item', lang, menu_service_item['slug']) }}">{{
                                menu_service_item['name'][lang] }}</a></li>
                            {% end %}
                        </ul>
                    </li>
                    <li>
                        <a href="{{ reverse_url('gallery.posts', lang) }}">{{ _('Gallery') }}</a>
                    </li>
                    <li>
                        <a href="{{ reverse_url('blog', lang) }}">{{ _('Blog') }}</a>
                        <ul>
                            {% for menu_blog_category in root_blog_categories %}
                            <li><a href="{{ reverse_url('blog', lang) }}?category={{ menu_blog_category['slug'] }}">{{
                                menu_blog_category['name'][lang] }}</a></li>
                            {% end %}
                        </ul>
                    </li>
                    <li>
                        <a href="{{ reverse_url('about', lang) }}">{{ _('About') }}</a>
                    </li>
                    <li><a href="{{ reverse_url('contact', lang) }}">{{ _('Contact') }}</a></li>
                </ul>
                <div class="toggle_lang">
                    <a href="{{ handler.request.path.replace('en', 'fr') }}" {{ ' style=color:#666;' if lang == 'en' else '' }}>Fr</a>
                    <a href="{{ handler.request.path.replace('fr', 'en') }}" style="margin-left: 6px; {{ ' color:#666;' if lang == 'fr' else '' }}">En</a>
                </div>
            </div>
        </nav>
    </header>
    <!-- /HEADER -->

    {% block content %}{% end %}

    <footer id="footer" class="has-border js-footer">
        <div class="footer-links">&copy; 2019-2021. By BeCaricature.com | <a href="https://www.facebook.com/morgunxenia/">Facebook</a> | <a href="https://www.instagram.com/BeCaricatureXeniaMorgun/" target="_blank">Instagram</a> | <a href="https://www.youtube.com/channel/UCzhpHoWhlzId4Ibb6msrVIg" target="_blank">YouTube</a></div>
    </footer>

</div>
<!-- /MAIN-WRAPPER -->

<!-- js -->
<script src="{{ static_url('js/lib/jquery.min.js') }}"></script>
<script src="{{ static_url('js/lib/scripts.js') }}"></script>
<!-- main js -->
<script src="{{ static_url('js/main.js') }}"></script>
{% block footer %}{% end %}
</body>
</html>