{% extends "layout.html" %}

{% block header %}
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5e26fa07d13ba60012707289&product=image-share-buttons&cms=sop' async='async'></script>
{% end %}

{% block content %}
<div class="container pt20 mt20 mb20 text-center equal-height-cols">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3 class="title mb0">{{ service_item['name'][lang] }}</h3>
			<p class="separator mt20 mb20"></p>
			<p>{% raw service_item['body'][lang] %}</p>

			<!-- YOUTUBE VIDEO -->
			<div class="video-container mt70">
				<img src="{{ image('1170x775', service_item['image_filename']) }}">
			</div><br /><br />
		</div>
	</div>

    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div class="vc_row wpb_row vc_inner vc_row-fluid container">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class=" container ">
                                        <div class="grid portfolio" data-gutter="5" data-columns="3">
                                            {% for gallery_post in gallery_posts %}
                                            <div class="grid-item "><a href="{{ reverse_url('gallery.post', lang, gallery_post['slug']) }}">
                                                <div class="img" data-background="{{ image('1170x775', gallery_post['image_filename']) }}"></div>
                                                <div class="hover">
                                                    <div class="centered"><h5>{{ gallery_post['name'][lang] }}</h5></div>
                                                </div>
                                            </a></div>
                                            {% end %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
{% end %}