{% extends "layout.html" %}

{% block content %}
			
<div class="pt20 mt20 mb20">
		{% for service_item in root_service_list %}

<div class="container pt140 pb90" data-background="{{ image('1170x775', service_item['image_filename']) }}">
	<div class="pt140 pb90">

		<a href="{{ reverse_url('service.item', lang, service_item['slug']) }}" class="entrance">
			<h3 class="title mb10">{{ service_item['name'][lang] }}</h3>
			<p class="separator"></p>
			<p>{{ service_item['short_desc'][lang] }}</p>
		</a>

	</div>
</div>
		{% end %}
</div>

{% end %}