    <!-- jQuery -->
    <script src="{{ static_url('bower_components/jquery/dist/jquery.min.js') }}"></script>


    <script src="{{ static_url('bootstrap-admin/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('bootstrap-admin/metisMenu/jquery.metisMenu.js') }}"></script>
    <script src="{{ static_url('bootstrap-admin/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <!-- Peity -->
    <script src="{{ static_url('bootstrap-admin/peity/jquery.peity.min.js') }}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{{ static_url('bootstrap-admin/inspinia.js') }}"></script>
    <script src="{{ static_url('bootstrap-admin/pace/pace.min.js') }}"></script>

    <!-- iCheck -->
    <script src="{{ static_url('bootstrap-admin/iCheck/icheck.min.js') }}"></script>

    <!-- Peity -->
    <script src="{{ static_url('bootstrap-admin/peity-demo.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>

    <!-- Latest Sortable jquery-->
    <script src="{{ static_url('bower_components/sortable/jquery.fn.sortable.js') }}"></script>

    <!-- jQuery upload button style -->
    <script src="{{ static_url('jQueryFileStyle/jquery-filestyle.min.js') }}"></script>

    <!-- Common min js -->
    <script src="{{ static_url('dist/js/common.min.js') }}"></script>
    <script src="{{ static_url('dist/js/common.js') }}"></script>