{% extends "../../default/layout.html" %}


{% block content %}


<a href="{{reverse_url('blog.post')}}" class="btn btn-primary">Add</a><br /><br />

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name En</th>
                                <th>Name Fr</th>
                                <th>Slug</th>
                                <th>ShowOnMainPage</th>
                                <th>Category</th>
                                <th>Posted At</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for blog in blog_posts %}
                            <tr>
                                <td>{{ blog['name']['en'] }}</td>
                                <td>{{ blog['name']['fr'] }}</td>
                                <td>{{ blog['slug'] }}</td>
                                <td>{{ blog['show_on_main_page'] }}</td>
                                <td>{{ blog_categories_dict[blog['category_id']]['name']['en'] }}</td>
                                <td>{{ blog['posted_at'].strftime('%H:%M %d.%m.%Y') }}</td>
                                <td><a href="{{reverse_url('blog.post')}}?blog_id={{ blog['_id'] }}">edit</a></td>
                                <td><a href="{{reverse_url('blog.posts')}}?action=delete&blog_id={{ blog['_id'] }}" onclick="return confirm('Are you sure?')">delete</a></td>
                            </tr>
                            {% end %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
</div>


{% end %}