{% extends "../../default/layout.html" %}


{% block content %}


<a href="{{reverse_url('category.item')}}" class="btn btn-primary">Add</a><br /><br />

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name En</th>
                                <th>Name Fr</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in category_list %}
                            <tr>
                                <td>{{ category['name']['en'] }}</td>
                                <td>{{ category['name']['fr'] }}</td>
                                <td><a href="{{reverse_url('category.item')}}?category_id={{ category['_id'] }}">edit</a></td>
                                <td><a href="{{reverse_url('category.list')}}?action=delete&category_id={{ category['_id'] }}" onclick="return confirm('Are you sure?')">delete</a></td>
                            </tr>
                            {% end %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
</div>


{% end %}