{% extends "../../default/layout.html" %}

{% block content %}
{% import constants %}

<a href="{{reverse_url('category.list')}}" class="btn btn-primary">Back to list</a><br /><br />

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
<div class="col-lg-6">
<div class="panel panel-default">
<div class="panel-heading">{{ 'Edit' if category['_id'] else 'Add' }} category</div>
<div class="panel-body">


    <form method="post">
    <input type="hidden" name="category_id" value="{{category['_id']}}"  />

    {% for clang in constants.LANGUAGES %}
    <div class="form-group">
        <label>Name {{clang}}</label><input type="text" name="name.{{clang}}" class="form-control" value="{{category['name'][clang]}}" required>
    </div>
    {% end %}
    <button type="submit" class="btn btn-primary">Save</button>
    </form>


</div>
</div>
</div>
</div>
</div>
{% end %}