{% extends "../../default/layout.html" %}


{% block content %}


<a href="{{reverse_url('gallery.post')}}" class="btn btn-primary">Add Item Gallery</a><br /><br />

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name En</th>
                                <th>Name Fr</th>
                                <th>Slug</th>
                                <th>Order</th>
                                <th>ShowOnMainPage</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for gallery_post in gallery_posts %}
                            <tr>
                                <td>{{gallery_post['name']['en']}}</td>
                                <td>{{gallery_post['name']['fr']}}</td>
                                <td>{{gallery_post['slug']}}</td>
                                <td>{{gallery_post['order']}}</td>
                                <td>{{gallery_post['show_on_main_page']}}</td>
                                <td><a href="{{reverse_url('gallery.post')}}?gallery_post_id={{gallery_post['_id']}}">edit</a></td>
                                <td><a href="{{reverse_url('gallery.posts')}}?action=delete&gallery_post_id={{gallery_post['_id']}}" onclick="return confirm('Are you sure?')">delete</a></td>
                            </tr>
                            {% end %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
</div>


{% end %}