{% extends "../../default/layout.html" %}


{% block content %}


<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Contacts</th>
                                <th>Messages</th>
                                <th>DateTime</th>
                                <th>IP</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for message in messages %}
                            <tr>
                                <td>{{ message['name'] }}</td>
                                <td>{{ message['contact'] }}</td>
                                <td>{{ message['message'] }}</td>
                                <td>{{ message['datetime'] }}</td>
                                <td>{{ message['ip'] }}</td>
                                <td><a href="{{reverse_url('messages')}}?action=delete&message_id={{ message['_id'] }}" onclick="return confirm('Are you sure?')">delete</a></td>
                            </tr>
                            {% end %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
</div>


{% end %}