{% extends "../../default/layout.html" %}

{% block content %}
{% import constants %}

<a href="{{reverse_url('pages')}}" class="btn btn-primary">Back to list</a><br /><br />

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
<div class="col-lg-6">
<div class="panel panel-default">
<div class="panel-heading">Edit {{ page['_id'] }}</div>
<div class="panel-body">


    <form method="post">
    <input type="hidden" name="page_id" value="{{page['_id']}}"  />

    {% for clang in constants.LANGUAGES %}


    <div class="form-group">
        <label>Text(content) {{clang}}</label><textarea name="body.{{clang}}" class="form-control">{{page['body'][clang]}}</textarea>
    </div>
    {% end %}


    <button type="submit" class="btn btn-primary">Save</button>
    </form>


</div>
</div>
</div>
</div>
</div>
{% end %}


{% block footer %}
{% import settings %}
<script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
<script>
$(function() {


    CKEDITOR.replace('body.en');
    CKEDITOR.replace('body.fr');

});
</script>
{% end %}