{% extends "../../default/layout.html" %}


{% block content %}


<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for page in pages %}
                            <tr>
                                <td>{{ page['_id'] }}</td>
                                <td><a href="{{reverse_url('page')}}?page_id={{ page['_id'] }}">edit</a></td>
                            </tr>
                            {% end %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
</div>


{% end %}