{% extends "../../default/layout.html" %}


{% block content %}


<a href="{{reverse_url('service.item')}}" class="btn btn-primary">Add Service</a><br /><br />

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name En</th>
                                <th>Name Fr</th>
                                <th>Slug</th>
                                <th>Order</th>
                                <th>ShowOnMainPage</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for service_item in service_list %}
                            <tr>
                                <td>{{service_item['name']['en']}}</td>
                                <td>{{service_item['name']['fr']}}</td>
                                <td>{{service_item['slug']}}</td>
                                <td>{{service_item['order']}}</td>
                                <td>{{service_item['show_on_main_page']}}</td>
                                <td><a href="{{reverse_url('service.item')}}?service_id={{service_item['_id']}}">edit</a></td>
                                <td><a href="{{reverse_url('service.list')}}?action=delete&service_id={{service_item['_id']}}" onclick="return confirm('Are you sure?')">delete</a></td>
                            </tr>
                            {% end %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
</div>


{% end %}