{% extends "../../default/layout.html" %}

{% block content %}
{% import constants %}

<a href="{{reverse_url('service.list')}}" class="btn btn-primary">Back to list</a><br /><br />

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
<div class="col-lg-6">
<div class="panel panel-default">
<div class="panel-heading">{{ 'Edit' if service_item['_id'] else 'Add' }} service</div>
<div class="panel-body">


    <form method="post">
    <input type="hidden" name="content_id" value="{{service_item['_id']}}"  />

    {% for clang in constants.LANGUAGES %}
    <div class="form-group">
        <label>Name {{clang}}</label><input type="text" name="name.{{clang}}" class="form-control" value="{{service_item['name'][clang]}}" required>
    </div>

    <div class="form-group">
        <label>Short Description {{clang}}</label><textarea name="short_desc.{{clang}}" class="form-control">{{service_item['short_desc'][clang]}}</textarea>
    </div>

    <div class="form-group">
        <label>Text(content) {{clang}}</label><textarea name="body.{{clang}}" class="form-control">{{service_item['body'][clang]}}</textarea>
    </div>
    {% end %}

    <div class="form-group">
        <label>Image</label>
        <input type="file" id="img_file_input" {{ 'required' if not service_item['image_filename'] else '' }} />
        <img src="{{ image('preview', service_item['image_filename']) }}" id="img_file_output" width="100" height="100">
        {% if service_item['image_filename']%}
            <br />{{ image('preview', service_item['image_filename']) }}
        {% end %}
        <input type="hidden" name="image_filename" id="image_filename" value="{{service_item['image_filename']}}" required />
    </div>

    <div class="form-group">
        <label>Position</label><input type="number" name="order" class="form-control" value="{{service_item['order']}}" required>
    </div>

    <div class="form-group">
        <label>ShowOnMainPage</label><input type="checkbox" name="show_on_main_page" class="form-control" value="1" {{ 'checked' if service_item['show_on_main_page'] else '' }}>
    </div>

    <div class="form-group">
        <label>Slug(URL)</label><input type="text" name="slug" class="form-control" value="{{service_item['slug']}}" required>
    </div>

    <div class="form-group">
        <label>Date Posted</label><input type="text" name="posted_at" class="form-control" value="{{ service_item['posted_at'].strftime('%H:%M %d.%m.%Y') }}" required>
    </div>

    <div class="form-group">
        <label>Gallery</label>
        <div class="container">
        {% for chunk in chunks(gallery_posts, 3) %}
            <div class="row">
            {% for gallery_post in chunk %}
                <div class="col-sm-3">
                <label><input type="checkbox" name="gallery_post_ids" value="{{ gallery_post['_id'] }}" {{ 'checked' if gallery_post['_id'] in service_item['gallery_post_ids'] else '' }} /> {{ gallery_post['name']['en'] }}</label>
                    </div>
            {% end %}
            </div>
        {% end %}
        </div>
    </div>


    <button type="submit" class="btn btn-primary">Save</button>
    </form>


</div>
</div>
</div>
</div>
</div>
{% end %}


{% block footer %}
{% import settings %}
<script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
<script>
$(function() {

    $("#img_file_input").change(function (e){

        e.preventDefault();

        $this = this;

        var f_data = new FormData;
        f_data.append('upload_file', $this.files[0]);
        f_data.append('project_id', 'caricature');
        f_data.append('path', 'content');

        $.ajax({
            url: '{{ settings.upload_service_url }}',
            data: f_data,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function (data) {
                $('#img_file_output').attr('src', data.upload_result.replace('origin', 'preview'));
                $('#image_filename').val(data.filename + data.file_extension);
            }
        });


    });

    CKEDITOR.replace('body.en');
    CKEDITOR.replace('body.fr');

});
</script>
{% end %}