
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li><a href="/"><i class="fa fa-pie-chart"></i> <span class="nav-label">Home</span> </a></li>

            <li><a href="{{ reverse_url('service.list') }}"><i class="fa fa-list"></i> <span class="nav-label">Services</span></a></li>

            <li><a href="{{ reverse_url('blog.categories') }}"><i class="fa fa-list"></i> <span class="nav-label">Blog Category</span></a></li>
            <li><a href="{{ reverse_url('blog.posts') }}"><i class="fa fa-list"></i> <span class="nav-label">Blog Posts</span></a></li>

{#            <li><a href="{{ reverse_url('gallery.categories') }}"><i class="fa fa-list"></i> <span class="nav-label">Gallery Categories</span></a></li> #}
            <li><a href="{{ reverse_url('gallery.posts') }}"><i class="fa fa-list"></i> <span class="nav-label">Gallery Posts</span></a></li>

            <li><a href="{{ reverse_url('messages') }}"><i class="fa fa-list"></i> <span class="nav-label">Messages</span></a></li>

            <li><a href="{{ reverse_url('pages') }}"><i class="fa fa-list"></i> <span class="nav-label">Pages Content</span></a></li>
        </ul>
    </div>
</nav>
