<div class="breadcrumbs">
   <a href="/" class="" rel="nofollow">{{_('Home')}}</a><span class="delimiter">/</span>
   <a href="{{reverse_url('category_list')}}" class="" rel="nofollow">{{_('Categories')}}</a><span class="delimiter">/</span>

    {% for i, cat in enumerate(breadcrumbs) %}
        {% if i == len(breadcrumbs) - 1 %}
            <span class="">{{cat['title']['en']}}</span>
      {% else %}
        <a href="{{reverse_url('category_list')}}?parent_id={{cat['_id']}}" class="" rel="nofollow">{{cat['title']['en']}}</a><span class="delimiter">/</span>
      {% end %}
    {% end %}
</div>