{% if pages > 1 %}
<div class="text-center">
    <div class="btn-group">
        {% set pg_f = page - 3 %}
        {% if pg_f < 1 %}
            {% set pg_f = 1 %}
        {% end %}
        {% if page > 3 %}
            <a class="btn btn-white" href="{{ get_page_url(1) }}">1</a>
            <a class="btn btn-white">...</a>
        {% end %}
        {% for page_num in range(pg_f, page) %}{# 1-index range #}
            {% if page_num != page %}
                <a class="btn btn-white" href="{{ get_page_url(page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-white active">{{ page_num }}</a>
            {% end %}
        {% end %}
        {% set pg_l = page + 3 %}
        {% if pg_l > pages %}
            {% set pg_l = pages %}
        {% end %}
        {% for page_num in range(page, pg_l) %}{# 1-index range #}
            {% if page_num != page %}
                <a class="btn btn-white" href="{{ get_page_url(page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-white active">{{ page_num }}</a>
            {% end %}
        {% end %}
        {% if pg_l < pages - 1 %}
            <a class="btn btn-white">...</a>
        {% end %}
        {% if pages == page %}
            <a class="btn btn-white active">{{ pages }}</a>
        {% else %}
            <a class="btn btn-white" href="{{ get_page_url(pages) }}">{{ pages }}</a>
        {% end %}
    </div>
</div>
<!--/.pagination-bar -->
{% end %}