<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>

    <!-- Style template bootstrap -->
    <link href="{{ static_url('bootstrap-admin/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('bootstrap-admin/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('bootstrap-admin/css/custom.css') }}" rel="stylesheet">
    <link href="{{ static_url('bootstrap-admin/css/animate.css') }}" rel="stylesheet">

    <!-- jQuery upload button style -->
    <link src="{{ static_url('jQueryFileStyle/jquery-filestyle.min.css') }}" rel="stylesheet">

    <link href="{{ static_url('bootstrap-admin/css/style.css') }}" rel="stylesheet">


    <!-- Main styles -->
    <link rel="stylesheet" href="{{ static_url('dist/css/styles.min.css') }}" />

</head>
<body>


    {% include "../partials/admin_menu.html" %}


    <div id="page-wrapper" class="gray-bg">
        {% block content %}{% end %}
    </div>

     {% include '../scripts/dev.html' %}
     {% include '../scripts/config.html' %}
    {% block footer %}{% end %}
</body>
</html>
