// Global nib reset
//@import 'nib/reset';
//global-reset();

@import 'pages';

.breadcrumbs
    padding 10px 0 0 10px
    a
      color #908c8c
      &:hover{
          border-bottom 1px solid #1ab394
        }

    .delimiter
        margin 0 3px 0 6px
        color #1ab394
